
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Email Template - retro green</title>
<style type="text/css">
.case { background: #353732 url('http://pmbcreative.com/newsletters/Template3/body-bg.jpg'); }
</style>
<!--[if gte mso 9]>
<style type="text/css">
.body{background: #353732 url('http://pmbcreative.com/newsletters/Template3/body-bg.jpg');}	     
.case { background:none;}
</style>
<![endif]-->
</head>
<body class="body" style="margin: 0; background-color: #353732; background-image: url(http://pmbcreative.com/newsletters/Template3/body-bg.jpg); background-repeat: repeat;" marginheight="0" topmargin="0" marginwidth="0" leftmargin="0">
<!--100% body table-->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td class="case" style="background-color: #353732; background-image: url(http://pmbcreative.com/newsletters/Template3/body-bg.jpg); background-repeat: repeat;">
            <!--[if gte mso 9]>
<td style="background: none;">
<![endif]-->
            <!--header text-->
            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="background-image: url(http://pmbcreative.com/newsletters/Template3/header-bg.jpg); background-repeat: repeat;" background="http://pmbcreative.com/newsletters/Template3/header-bg.jpg" valign="middle" align="center" height="59" bgcolor="#c8be9a">
                        <table width="620" border="0" align="center" cellpadding="0" cellspacing="0">
                            <tr>
                                <td>
                                    <p style="font-size: 12px; font-family: Georgia, 'Times New Roman', Times, serif; margin: 0px; padding: 0px; color: #fff;">You're receiving this newsletter because you signed up for it or bought widgets from us.
                                        Having trouble reading this email?
                                        <webversion style="color: #fff; text-decoration: underline;" href="#">View it in your browser.</webversion>
                                        Not interested anymore?
                                        <unsubscribe style="color: #fff; text-decoration: underline;" href="#">Unsubscribe Instantly.</unsubscribe>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--/header text-->
            <!--masthead-->
            <table style="background-image:url(http://pmbcreative.com/newsletters/Template3/masthead-bg.jpg); background-repeat:repeat; background-color:#7a8b7c;" background="http://pmbcreative.com/newsletters/Template3/masthead-bg.jpg" bgcolor="#7a8b7c" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <table id="masthead" style="background-image:url(http://pmbcreative.com/newsletters/Template3/masthead-bg.jpg); background-repeat:repeat; background-color:#7a8b7c;" background="http://pmbcreative.com/newsletters/Template3/masthead-bg.jpg" bgcolor="#7a8b7c" width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td valign="top" height="179">
                        <table border="0" align="left" cellpadding="0" cellspacing="0">
                            <tr>
                                <td valign="top" width="197" height="177">&nbsp;</td>
                            </tr>
                        </table>
                        <table width="153" border="0" align="left" cellpadding="0" cellspacing="0">
                            <tr>
                                <td valign="top" width="180" height="15"> </td>
                            </tr>
                            <tr>
                                <td valign="top" height="148" background="http://pmbcreative.com/newsletters/Template3/date-bg.jpg" bgcolor="#6a7b6e" style="margin:0px; padding:0px; background-image:url(http://pmbcreative.com/newsletters/Template3/date-bg.jpg); background-repeat: no-repeat; background-position: top; background-color: #6a7b6e;">
                                    <table width="153" border="0" align="left" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td height="42"></td>
                                        </tr>
                                        <tr>
                                            <td valign="top" align="center">
                                                <p style="font-size: 20px; font-family: Georgia, 'Times New Roman', Times, serif; margin: 0px; padding: 0px; color: #ffffff;">
                                                    <currentmonth>
                                                </p>
                                                <p style="font-size: 20px; font-family: Georgia, 'Times New Roman', Times, serif; margin: 0px; padding: 0px; color: #ffffff;"><%=@newsletter_date %><br>Issue <%=@issue_number %></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <table width="575" border="0" align="right" cellpadding="0" cellspacing="0">
                            <tr>
                                <td valign="top" width="445" height="55">&nbsp;</td>
                                <td valign="top" width="445" height="55">&nbsp;</td>
                            </tr>
                            <tr>
                                <td valign="top">
                                    <h1 style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 36px; color: #FFF; margin:0px; padding:0px;"><%=@pageData["name"] %></h1>
                                </td>
                                <td valign="top">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            </td>
    </tr>
</table>
            <!--/masthead-->
            <!--top intro-->
            <table width="605" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td height="35">&nbsp;</td>
                </tr>
            </table>
            
            <!--/top intro-->
            <!--content section-->
            <% @pageData["posts"]["data"].each do |feed| %>
            <table width="605" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td height="25">&nbsp;</td>
                </tr>
            </table>
            <table style="background-image: url(http://pmbcreative.com/newsletters/Template3/box-bg.jpg); background-repeat: repeat;" background="http://pmbcreative.com/newsletters/Template3/box-bg.jpg" width="605" border="0" align="center" cellpadding="20" cellspacing="0">
                <tr>
                    <td valign="top">
                        <h1 style="color: #fff; font-size: 16px; font-family: Georgia, 'Times New Roman', Times, serif; margin-bottom: 10px; padding: 0px; font-weight: bold;"><%= feed["created_time"] %></h1>
                        <p style="font-size: 12px; font-family: Georgia, 'Times New Roman', Times, serif; margin-bottom: 10px; padding: 0px; color: #dac782;"><%= feed["message"] %></p>
                    </td>
                    <% if feed["picture"] %><td valign="top"> <img style="margin: 0px; padding: 0px; display: block; border:solid 2px #989997;" src="<%= feed["picture"] %>" width="265" height="auto"><% end%></td>
                </tr>
            </table>
            <table width="605" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td height="25">&nbsp;</td>
                </tr>
            </table>
            <% end %>
            <!--/content section-->
            <table width="605" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td valign="top" width="220">
                        <table width="400" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td valign="top" width="400">
                                    <p style="color: #dac782; font-family: Georgia, 'Times New Roman', Times, serif; margin: 0px; padding: 0px; font-weight: bold;">Upcoming Events:</p>
                                    <br>
                                    <% @pageData["events"]["data"].each do |event| %>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td>
                                                <p style="font-size: 13px; font-family: Georgia, 'Times New Roman', Times, serif; margin: 0px; padding: 0px; color: #fff; float: left;"><img src="http://pmbcreative.com/newsletters/Template3/li.gif" height="11" width="18"><%= event["name"] %><br></p>
                                                <p style="font-size: 13px; font-family: Georgia, 'Times New Roman', Times, serif; margin: 0px; padding: 0px; color: #CACAD9; float: left;"><%= event["start_time"] %><br><%= event["location"] %></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </table>
                                    <% end %>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--/content section-->
            <!--footer-->
            <table width="605" border="0" align="center" cellpadding="20" cellspacing="0">
                <tr>
                    <td valign="top">
                        <p style="font-size: 16px; font-family: Georgia, 'Times New Roman', Times, serif; margin-bottom: 10px; padding: 0px; color: #dac782; font-weight: bold; font-style:italic;">Unsubscribe</p>
                        <p style="font-size: 12px; font-family: Georgia, 'Times New Roman', Times, serif; margin-bottom: 10px; padding: 0px; color: #6d9a83;">You're receiving this newsletter because you signed up for the ABC Widget Newsletter.</p>
                        <!--button-->
                        <table width="160" border="0" cellspacing="0" cellpadding="10">
                            <tr>
                                <td style="border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; font-size: 12px; font-family: Georgia, 'Times New Roman', Times, serif; color: #ffffff; margin: 0; padding: 0; text-align: center;" height="28" bgcolor="#232723">
                                    <unsubscribe style="text-decoration: none; color: #fff;">Unsubscribe</unsubscribe>
                                </td>
                            </tr>
                        </table>
                        <!--/button-->
                    </td>
                    <td valign="top">
                        <p style="font-size: 16px; font-family: Georgia, 'Times New Roman', Times, serif; margin-bottom: 10px; padding: 0px; color: #dac782; font-weight: bold; font-style:italic;">Contact us</p>
                        <p style="font-size: 12px; font-family: Georgia, 'Times New Roman', Times, serif; margin-bottom: 10px; padding: 0px; color: #6d9a83;"><% if @pageData["location"]["street"] %><%= @pageData["location"]["street"] %><% end %><br>
                            <% if @pageData["location"]["city"] %><%= @pageData["location"]["city"] %><% end %>, <% if @pageData["location"]["state"] %><%= @pageData["location"]["state"] %><% end %><br>
                            <% if @pageData["location"]["country"] %><%= @pageData["location"]["country"] %><% end %><br></p>
                    </td>
                </tr>
            </table>
            <!--footer-->
            <table width="605" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td height="25">&nbsp;</td>
                </tr>
            </table>
            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td background="http://pmbcreative.com/newsletters/Template3/footer.jpg" valign="top" height="59"><img style="margin: 0; padding: 0; display: block;" src="http://pmbcreative.com/newsletters/Template3/footer.jpg" width="1000" height="59"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--/100% body table-->
</body>
</html>